.home{
    width: 100%;
    height: 100%;
    position: relative;
}

img{
    width: 100%;
    height: 20%;
    object-fit: cover;
}

.home-text{
    position: absolute;
    /* width: 724px; */
    top: 18%;
    left: 50%;
    /* top: 55%;
    left: 50%; */
    transform: translate(-50%, -50%);
    width: 80%;
}

.home-text h1{
    font-size: 140px;
    font-weight: 700;
    line-height: 132px;
    /* background: white; */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 6.44%, #FFFFFF 95.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlights {
    max-height: 400px;
    /* width: 1136px; */
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    overscroll-behavior-inline: contain;
    margin-left: 5%;
    margin-right: 5%;
    gap: 2%;
    /* grid-auto-columns: 40%; */
}

.highlights::-webkit-scrollbar{
    width: 0;
}

.subtitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #001A1A;
    text-align: left;
    margin: 24px;
    margin-left: 5%;
}

.categories-main{
    width: 100%;
    height: auto;
    padding-left: '10%';
    padding-right: '10%';
    background: #E6F2F2;
    display: flex;
    justify-content: center;
}

.categories{
    width: 40%;
}

@media screen and (max-width: 850px) {
    .home-text{
        top: 25%;
    }
    .home-text h1{
        font-size: 64px;
        line-height: 60px;
        font-style: normal;
    }
    .categories{
        width: 90%;
        margin: auto;
        /* margin-top: 10%; */
    }
    .categories-main{
        width: 100%;
        height: auto;
        padding-top: 1%;
        padding-bottom: 1%;
        background: #E6F2F2;
        display: block;
        justify-content: center;
        gap: 5%;
    }

    .highlights {
        margin-left: 2%;
        margin-right: 2%;
    }
    .button{
        letter-spacing: 0;
    }
}