.card-container{
    margin: 5%;
    width: 350px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in ;
    display: inline-block;
    height: 340px;
    border-radius: 8px;
    /* line-height: 340px;
    text-align: center; */
    position: relative;
}

/* .card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
} */

.image-container img{
    overflow: hidden;
    height: 170px;
}

.card-content{
    margin: 24px;
    margin-top: 26px;
}

h3,p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
}

.card-title{
    margin-bottom: 16px;
    font-size: 24px;
    color: #008080;
}

.card-next{
    margin: 3%;
    position: absolute;
    text-align: right;
    bottom: 0;
}

.card-button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

@media screen and (max-width: 850px) {
    .card-container{
        margin: 5%;
        width: 334px;
        overflow: hidden;
        box-shadow: 0px 0px 15px -5px;
        transition: 0.3s;
        animation: ease-in ;
        display: inline-block;
        height: 340px;
        position: relative;
        border-radius: 8px;
    }
}